/* The animation code */
@keyframes bounce {
  0%   {scale: 1;}
  10%   {scale: 1.05;}
  20%   {scale: 1.1;}
  30%   {scale: 1.15;}
  40%   {scale: 1.2;}
  50%  {scale: 1.25;}
  60%   {scale: 1.2;}
  70%   {scale: 1.15;}
  80%   {scale: 1.1;}
  90%   {scale: 1.05;}
  100% {scale: 1;}
}

.kidnap{
  -webkit-transform: rotate(7deg);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: silver;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
};

