/* The animation code */
@keyframes bounce {
  0%   {scale: 0.75;}
  10%   {scale: 0.8;}
  20%   {scale: 0.85;}
  30%   {scale: 0.9;}
  40%   {scale: 0.95;}
  50%  {scale: 1;}
  60%   {scale: 0.95;}
  70%   {scale: 0.9;}
  80%   {scale: 0.85;}
  90%   {scale: 0.8;}
  100% {scale: 0.75;}
}

.kidnap{
  -webkit-transform: rotate(7deg);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
};

